
* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
	/*background:#1b1b2b;*/
	background:#FBFCFC;
	/*padding:10px;*/
	/*text-align:center;*/
	font-family: 'Oswald', sans-serif;
}

h1{
	color:#c0c0c0;
	font-weight:100;
}

.btn{
	/*color:#999;*/
	color:#FBFCFC;
	background:rgba(33, 47, 61, 1);
	padding:10px 20px;
	font-size:10px;
	text-decoration:none;
	letter-spacing:2px;
	text-transform:uppercase;
}

.btn:hover{
	border:none;
	background:rgba(0, 0, 0, 0.4);
	/*background:#fff;*/
	background:#509bb1;
	padding:15px 20px;
	color:#000;
}

.btn_dark {
	padding: 3px 10px;
	background: #212F3D;
	color: #FFF;
	border: #4479BA ;
	text-underline: none;
}

.btn_dark:hover {
	padding: 3px 10px;
	background: #21618C;
	color: #FFF;
}

.footer{
	font-size:8px;
	color:#fff;
	clear:both;
	display:block;
	letter-spacing:5px;
	border:1px solid #fff;
	padding:5px;
	text-decoration:none;
	width:210px;
	margin:auto;
	margin-top:400px;
}