<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" html>
<head>
    <link href="/stylesheets/jquery.autocompletefb.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.js"                type="text/javascript"></script>
    <script src="/javascripts/jquery.bgiframe.min.js"   type="text/javascript"></script>
    <script src="/javascripts/jquery.dimensions.js"     type="text/javascript"></script>
    <script src="/javascripts/jquery.autocomplete.js"   type="text/javascript"></script>
    <script src="/javascripts/jquery.autocompletefb.js" type="text/javascript"></script>
</head>
<body>
	<div id="content">
		<%= yield %>
	</div> <!-- content -->
  </body>
</html>