.ebul_cbmenu, .ebul_cbmenu ul {
  background-color: #006600;
  border: 1px solid #006600;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 0px;
  position: absolute;
  visibility: hidden;
}

.ebul_cbmenu_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_cbmenu table {
  border-collapse: separate;
}

.ebul_cbmenu tr {
  background-color: #006600;
  cursor: pointer;
  font-size: 1px;
}

.ebul_cbmenu td {
  border: 1px solid #006600;
  padding: 3px;
  text-align: left;
}

.ebul_cbmenu td a {
  color: #D4EACC;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_cbmenu tr.hot, .ebul_cbmenu tr.expanded {
  background-color: #009900;
}

.ebul_cbmenu tr.hot td, .ebul_cbmenu tr.expanded td {
  border-color: #009900;
}
.ebul_cbmenu tr.hot a, .ebul_cbmenu tr.expanded a {
  color: #FFFFFF;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ul.ebul_cbmenu {
  position: absolute;
  visibility: hidden;
}                               

.cbmenuebul_menulist .spaced_li {
  padding: 0px 1px 0px 0px;
}

.cbmenuebul_menulist li {
  list-style-type: none;
  float: left;
}

.cbmenuebul_menulist img {
  vertical-align: bottom;
  
}

.cbmenuebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
span.ebul_imgcbmenu16x16 { 
  width: 16px; 
  height: 16px; 
  display: block; 
}

.ebul_cbmenu tr.hot span.ebul_imgcbmenu16x16, .ebul_cbmenu tr.expanded span.ebul_imgcbmenu16x16 { 
  background-position: 0 -16px; 
} 

